In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kodiak,US,2022-06-11 00:26:21,57.7900,-152.4072,60.31,59,100,4.61
1,1,Port Hardy,CA,2022-06-11 00:29:03,50.6996,-127.4199,59.18,67,75,11.50
2,2,Atuona,PF,2022-06-11 00:29:03,-9.8000,-139.0333,77.95,69,9,15.10
3,3,Guantanamo,CU,2022-06-11 00:29:03,20.1444,-75.2092,83.77,79,70,2.95
4,4,Longyearbyen,SJ,2022-06-11 00:29:04,78.2186,15.6401,37.24,81,100,4.61

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# 2. Assign the weights variable to some values.
# 3. Assign the figure variable to the gmaps.figure() attribute.
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# 5. Add the heatmap layer.
# 6. Call the figure to plot the data.

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of lenght equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [19]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [21]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [22]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### 6.5.3 Get Vacation Criteria

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2022-06-11 00:29:03,-9.8000,-139.0333,77.95,69,9,15.10
3,3,Guantanamo,CU,2022-06-11 00:29:03,20.1444,-75.2092,83.77,79,70,2.95
7,7,Kahului,US,2022-06-11 00:25:11,20.8947,-156.4700,87.82,62,0,25.32
17,17,Avarua,CK,2022-06-11 00:29:08,-21.2078,-159.7750,78.85,65,40,14.97
20,20,Vaini,TO,2022-06-11 00:29:09,-21.2000,-175.2000,80.76,74,40,8.05
23,23,Salalah,OM,2022-06-11 00:29:10,17.0151,54.0924,86.09,79,75,8.05
27,27,Gaozhou,CN,2022-06-11 00:29:12,21.9392,110.8461,75.16,99,100,7.16
29,29,Celestun,MX,2022-06-11 00:29:12,20.8667,-90.4000,82.63,78,5,13.29
35,35,Rikitea,PF,2022-06-11 00:29:15,-23.1203,-134.9692,76.05,60,69,13.49
40,40,Pitimbu,BR,2022-06-11 00:29:16,-7.4706,-34.8086,75.79,83,36,5.88

In [26]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

### Map Vacation Criteria

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Atuona      PF     77.95  -9.8000 -139.0333
3   Guantanamo      CU     83.77  20.1444  -75.2092
7      Kahului      US     87.82  20.8947 -156.4700
17      Avarua      CK     78.85 -21.2078 -159.7750
20       Vaini      TO     80.76 -21.2000 -175.2000
23     Salalah      OM     86.09  17.0151   54.0924
27     Gaozhou      CN     75.16  21.9392  110.8461
29    Celestun      MX     82.63  20.8667  -90.4000
35     Rikitea      PF     76.05 -23.1203 -134.9692
40     Pitimbu      BR     75.79  -7.4706  -34.8086

### Retrieve Hotels from a Nearby Search

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,77.95,-9.8000,-139.0333,Villa Enata
3,Guantanamo,CU,83.77,20.1444,-75.2092,Hotel Guantánamo
7,Kahului,US,87.82,20.8947,-156.4700,Maui Seaside Hotel
17,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
20,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
23,Salalah,OM,86.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
27,Gaozhou,CN,75.16,21.9392,110.8461,望江楼旅业
29,Celestun,MX,82.63,20.8667,-90.4000,Posada Lilia
35,Rikitea,PF,76.05,-23.1203,-134.9692,People ThankYou
40,Pitimbu,BR,75.79,-7.4706,-34.8086,Reserva do Abiaí

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
""" 
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))